body { margin:0; padding:0; }
body, input, button { font:13px/1.3 Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
p, table, ul, ol, h1, h2, h3, h4, h5, h6 { margin:0 0 1.3em; }
ul { list-style:none; padding:0; }
input:focus { outline:none; }
button { cursor:pointer; }

.page { position:absolute; width:100%; height:100%; min-height:0; background:#CCC; }
.pane { position:absolute; }
.button { text-decoration:none; text-align:center; cursor:pointer; border-radius:5px; }
.popup { position:absolute; z-index:100; width:60%; top:5%; left:20%; padding:0 20px 1px; background:#FFF; box-sizing:border-box; border-radius:5px; box-shadow:0 2px 8px rgba(0,0,0,0.5); }
.popup .title { text-transform:uppercase; margin:0 -20px 15px; padding:12px 20px 8px; background:#CCC; color:#333; font:bold 16px/1 Helvetica,Arial,sans-serif; border-bottom:1px solid #999; border-radius:5px 5px 0 0; }
.popup .subtitle { border-bottom:1px solid #AAA; padding:0 0 5px; margin:0 0 15px; }
.popup .actions { margin:0 0 10px; padding:20px 0 0; height:30px; clear:both; border-top:1px solid #AAA; text-align:center; }
.popup .button { background:#333; color:#CCC; float:none; margin:0 4px; padding:8px 20px; text-transform:uppercase; font-size:12px; line-height:1; }
.popup .button:hover { background:#111; color:#FFF; }

.third, .half { float:left; padding:0 15px 15px; box-sizing:border-box; }
.third { width:33.33%; }
.half { width:50%; }
.third.first, .half.first { padding-left:0; }
.third.last, .half.last { padding-right:0; }

/* Game Page */
#mapPane { width:75%; height:70%; left:0; top:0; padding:0 1px 1px 0; background:#4CC4FC; }
#sidePane { width:25%; height:70%; min-width:100px; right:0; top:0; padding:0 0 1px; background:#555; }
#bottomPane { width:100%; height:30%; left:0; bottom:0; background:#000; }

#mapContainer { margin:0 auto; width:620px; }
#mapContainer img { position:absolute; }
#mapContainer #map { position:absolute; margin:0 auto; }

#playerInfo { color:#999; width:100%; height:20%; background:#292929; margin:0; position:relative; font-size:14px; }
#playerInfo td { border-bottom:1px solid #777; padding:6px 0; }
#playerInfo em { font-style:normal; font-weight:normal; color:#777; }
#playerInfo .name { padding-left:5%; }
#playerInfo .achievement { color:#FF0; font-weight:bold; }
#playerInfo .resource,
#playerInfo .development,
#playerInfo .victory { width:50px; font-weight:bold; }

#playerInfo .active { background:#000; }
#playerInfo .red { color:#F00; }
#playerInfo .orange { color:#FC7F32; }
#playerInfo .blue { color:#2BA9FB; }
#playerInfo .white { color:#FFF; }

#chat { position:relative; height:80%; width:100%; margin:0; padding:0; }
#chat #chatLog { position:absolute; height:100%; overflow:hidden; color:#EEE; padding:0 0 60px 5%; box-sizing:border-box; }
#chat #chatLog .wrap { height:100%; overflow:auto; padding:15px 15px 1px 0; box-sizing:border-box; }
#chat #chatLog .wrap::-webkit-scrollbar { width: 12px; }
#chat #chatLog .wrap::-webkit-scrollbar-track { background:#777; }
#chat #chatLog .wrap::-webkit-scrollbar-thumb { background:#333; }
#chat #chatLog .name { color:#999; font-weight:bold; padding:0 5px 0 0; }
#chat form { position:absolute; width:90%; height:40px; padding:10px 5%; bottom:0; border-top:1px solid #999; }
#chat form p { margin:0; }
#chat .text { float:left; width:78%; }
#chat #chatMessage { display:block; width:90%; height:34px; margin:0; padding:0 5%; background:#333; border:none; border-radius:4px; font-size:13px; color:#FFF; box-shadow:inset 0 0 5px rgba(0,0,0,0.5); -webkit-transition:all 300ms; }
#chat #chatMessage:focus { background:#222; }
#chat .send { float:right; width:20%; }
#chat .send button  { background:#111; border:none; width:100%; height:24px; color:#999; display:block; height:34px; line-height:34px; padding:0; text-transform:uppercase; font-size:12px; border-radius:4px; }
#chat .send button:hover { color:#FFF; }

#trade { position:absolute; width:180px; left:0; bottom:0; margin:10px 20px; }
#trade p { margin:0; }
#trade .button { background:#DDD; display:block; padding:10px 0; color:#333; text-transform:uppercase; font-weight:bold; box-shadow:0 1px 4px rgba(0,0,0,0.6); }

.actionPane { box-sizing:border-box; margin:10% 0 0; height:80%; color:#FFF; position:absolute; top:0; }
.actionPane h2 { margin:0 0 10px; text-align:center; font-size:13px; font-weight:italic; font-style:italic; font-weight:normal; text-transform:uppercase; letter-spacing:1px; }
.actionPane h2 span { border-bottom:1px solid #999; padding:0 2px; color:#999; }
.actionPane .items { margin:0; padding:0 5%; }
.actionPane .items li { margin:0 0 6px; }
.actionPane .items .button { display:block; color:#FFF; padding:6px 5%; background:#333; border-radius:5px; }
.actionPane .items .button:hover { background-color:#555; }

#build { width:25%; left:0; border-right:1px solid #999; }
#build .items .button { text-align:left; }
#build .items .cost { float:right; }
#build .items .cost img { float:left; margin:3px 0 0 4px; }

#resources { width:50%; left:25%; }
#resources .items li { width:20%; float:left; text-align:center; font-size:36px; padding:90px 0 0; background-position:center top; background-repeat:no-repeat; }
#resources .items .wool  { color:#7DC142; background-image:url(images/icon_wool.png); }
#resources .items .grain { color:#FDD106; background-image:url(images/icon_grain.png); }
#resources .items .ore   { color:#61656A; background-image:url(images/icon_ore.png); }
#resources .items .brick { color:#BD5527; background-image:url(images/icon_brick.png); }
#resources .items .wood  { color:#17763C; background-image:url(images/icon_wood.png); }
	
#development { width:25%; right:0; border-left:1px solid #999; }
#development .items { text-align:center; }

#tradePopup .maritime { margin-top:10px; }
#tradePopup .maritime .availability { color:#666; padding:5px 0 0 35px; }
#tradePopup .resources input { width:50px; }
#tradePopup .resources label { margin:0 0 0 10px; padding:0 0 0 16px; background-position:left center; background-repeat:no-repeat; }

#tradePopup .resources .wool  label, #tradeConfirmPopup .resources .wool  { background-image:url(images/icon_dot_wool.png); }
#tradePopup .resources .grain label, #tradeConfirmPopup .resources .grain { background-image:url(images/icon_dot_grain.png); }
#tradePopup .resources .ore   label, #tradeConfirmPopup .resources .ore   { background-image:url(images/icon_dot_ore.png); }
#tradePopup .resources .brick label, #tradeConfirmPopup .resources .brick { background-image:url(images/icon_dot_brick.png); }
#tradePopup .resources .wood  label, #tradeConfirmPopup .resources .wood  { background-image:url(images/icon_dot_wood.png); }

#tradeConfirmPopup { width:40%; left:30%; }
#tradeConfirmPopup .resources li { padding:0 0 0 20px; background-position:left 12px; background-repeat:no-repeat; font-size:15px; clear:left; line-height:34px; font-weight:bold; color:#444; }
#tradeConfirmPopup .resources em { font-size:24px; padding:0 10px 0 0; font-style:normal; font-weight:normal; color:#111; float:left; clear:left; }

#eventNotice { position:absolute; top:0; left:4%; width:92%; background:#FF9; padding:10px 0 11px; text-align:center; font-size:15px; border-radius:0 0 5px 5px; box-shadow:0 1px 5px rgba(0,0,0,0.5); box-sizing:border-box; }
#eventNotice p { margin:0; }


