body { margin:0; padding:0; }
body, input, button { font:13px/1.3 Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
p, table, ul, ol, h1, h2, h3, h4, h5, h6 { margin:0 0 1.3em; }
ul { list-style:none; padding:0; }
input:focus { outline:none; }
button { cursor:pointer; }

.page { position:absolute; width:100%; height:100%; min-height:0; background:#CCC; }
.pane { position:absolute; }
.button { text-decoration:none; text-align:center; cursor:pointer; border:none; background:#333; color:#CCC; padding:8px 20px; text-transform:uppercase; font-size:12px; border-radius:5px; line-height:1.4; }
.popup { position:absolute; z-index:100; width:60%; top:5%; left:20%; padding:0 20px 1px; background:#FFF; box-sizing:border-box; border-radius:5px; box-shadow:0 2px 8px rgba(0,0,0,0.5); }
.popup .title { text-transform:uppercase; margin:0 -20px 15px; padding:12px 20px 8px; background:#CCC; color:#333; font:bold 16px/1 Helvetica,Arial,sans-serif; border-bottom:1px solid #999; border-radius:5px 5px 0 0; }
.popup .subtitle { border-bottom:1px solid #AAA; padding:0 0 5px; margin:0 0 15px; }
.popup .actions { margin:0 0 10px; padding:20px 0 0; height:30px; clear:both; border-top:1px solid #AAA; text-align:center; }
.popup .button { float:none; margin:0 4px; }
.popup .button:hover { background:#111; color:#FFF; }
.vignette { position:absolute; width:100%; height:100%; }

.third, .half { float:left; padding:0 15px 15px; box-sizing:border-box; }
.third { width:33.33%; }
.half { width:50%; }
.third.first, .half.first { padding-left:0; }
.third.last, .half.last { padding-right:0; }

.buttonList li { margin:0 0 8px; }
.buttonList a { text-decoration:none; display:block; padding:8px 10px; text-align:center; font-size:13px; font-weight:normal; color:#000; background:#EEE; border:1px solid #CCC; border-radius:6px; }
.buttonList a:hover { background:#CCC; border-color:#999; box-shadow:inset 0 0 4px #999; }

/* Host Page */
#hostPage { background:url(images/bg_tiles.jpg) repeat center top; }
#hostPage .vignette { opacity:0.8; }
#hostPage h1 { text-align:center; margin:20px 0; text-transform:uppercase; font:bold 100px/1 Georgia,serif; text-shadow:5px 5px 0 #000; color:#FDD106; letter-spacing:10px; }
#hostWrapper { width:800px; margin:0 auto; z-index:2; position:relative; }
#hostWrapper .block { background:#FFF; box-shadow:0 1px 8px #000; border-radius:5px; }
#hostWrapper .col { float:left; width:44%; margin:0 1%; padding:20px 2%; background:#FFF; min-height:200px; }
#hostWrapper .col h2 { border-bottom:4px solid #CCC; color:#444; }
#username { margin:0 1% 20px; padding:15px 2%; background:#FFF; }
#username label { font-size:16px; margin:9px 0 0; padding:0 0; float:left; width:100px; }
#username input { font-size:24px; width:70%; text-align:center; display:block; margin:0 auto; position:relative; left:-50px; }
#hostGame table { margin:0; }
#hostGame th,
#hostGame td { padding:0 0 5px; } 
#hostGame th { text-align:left; width:100px; }
#hostGame button { margin:15px 0 0; }
#gameList table th { width: 200px; }
#gameList table td { width: 200px; }

#joinGame th { text-align:left; padding:0 0 10px; }
#joinGame td { border-top:1px solid #AAA; border-bottom:1px solid #AAA; padding:5px 0; }
#joinGame .button { display:block; width:30px; }
#joinGame .joinAction { width:30px; }

/* Setup Page */
#setupMapPane { width:75%; height:100%; padding:0 0 0 1px; background:#4CC4FC; right:0; }

#setupSidePane { width:25%; height:100%; left:0; background:#555; }
#setupSidePane h2 { color:#EEE; text-transform:uppercase; font-size:15px; margin:0 0 15px; padding:0; clear:both; }
#configuration { margin:0 0 20px; padding:20px 5%; color:#EEE; }
#configuration label { display:block; margin:0 0 5px; }
#configuration .button { background:#000; margin:0 10px 30px 0; display:block; float:left; }

#playerList { padding:0 5%; }
#playerList table { background:#333; width:100%; border-radius:8px; }
#playerList td { padding:8px 0 8px 10px; border-top:1px solid #666; }
#playerList tr:first-child td { border:none; }
#playerList .name { color:#FFF; padding-left:10px; font-size:14px; }
#playerList .color { width:30px; }
#playerList .swatch { width:25px; height:25px; float:left; box-shadow:0 1px 4px #111; border:1px solid #222; }

/* Game Page */
#mapPane { width:75%; height:70%; left:0; top:0; padding:0 1px 1px 0; background:#4CC4FC; }
#sidePane { width:25%; height:70%; min-width:100px; right:0; top:0; padding:0 0 1px; background:#555; }
#bottomPane { width:100%; height:30%; left:0; bottom:0; background:#000; }

#mapContainer { margin:0 auto; width:800px; }
#mapContainer img,
#mapContainer canvas { position:absolute; margin:0 auto; }

#wrapperPlayerInfo { height:25%; width:100%; position:relative; }
#wrapperPlayerInfo > div { width:100%; height:100%; }
#playerInfo { color:#999; width:100%; height:100%; background:#222; margin:0; padding:0; font-size:14px; }
#playerInfo td { border-bottom:1px solid #EEE; padding:0 0; color:#FFF; }
#playerInfo em { font-style:normal; font-weight:normal; color:#777; }
#playerInfo .name { padding-left:5%; }
#playerInfo .achievement { color:#FF0; font-weight:bold; }
#playerInfo .resource,
#playerInfo .development,
#playerInfo .victory { width:50px; font-weight:bold; }
#playerInfo .swatch { width:20px; }

#playerInfo .active td { background:#999; color:#000; }
#playerInfo .active em { color:#111; }
#playerInfo .active .name { font-weight:bold; }

.playerList .red    .swatch { background-color:#f32d2d !important; }
.playerList .blue   .swatch { background-color:#2066f2 !important; }
.playerList .green  .swatch { background-color:#1fa926 !important; }
.playerList .purple .swatch { background-color:#c63af5 !important; }
.playerList .cyan   .swatch { background-color:#23daca !important; }
.playerList .gold   .swatch { background-color:#f8b530 !important; }

#sidePane .actions { position:relative; width:100%; height:10%; }
#sidePane .actions .button { background:#111; color:#CCC; padding:8px 0; height:16px; display:block; float:left; position:relative; top:50%; line-height:1.4; }
#sidePane .actions .button:hover { background:#000; color:#FFF; }
#sidePane .actions #tradeButton { width:47%; margin:-16px 3% 0 5%; }
#sidePane .actions #endButton { width:40%; margin:-16px 5% 0 0; }

#chat { position:relative; height:65%; width:100%; margin:0; padding:0; border-top:1px solid #EEE; }
#chat #chatLog { position:absolute; height:100%; overflow:hidden; color:#FFF; padding:0 0 60px 5%; box-sizing:border-box; width:100%; }
#chat #chatLog .wrap { height:100%; overflow:auto; padding:15px 15px 1px 0; box-sizing:border-box; width:100%; }
#chat #chatLog .wrap::-webkit-scrollbar { width: 12px; }
#chat #chatLog .wrap::-webkit-scrollbar-track { background:#777; }
#chat #chatLog .wrap::-webkit-scrollbar-thumb { background:#333; }
#chat #chatLog p { margin:0 0 12px; }
#chat #chatLog .name { color:#999; font-weight:bold; padding:0 5px 0 0; }
#chat #chatLog .systemChat { color:#FDD106; font-style:italic; }
#chat form { position:absolute; width:90%; height:47px; padding:13px 5% 0; bottom:0; border-top:1px solid #EEE; }
#chat form p { margin:0; }
#chat .text { float:left; width:78%; }
#chat #chatMessage { display:block; width:90%; height:34px; margin:0; padding:0 5%; background:#333; border:none; border-radius:4px; font-size:13px; color:#FFF; box-shadow:inset 0 0 5px rgba(0,0,0,0.5); -webkit-transition:all 300ms; }
#chat #chatMessage:focus { background:#222; }
#chat .send { float:right; width:20%; }
#chat .send button  { background:#111; border:none; width:100%; height:24px; color:#999; display:block; height:34px; line-height:34px; padding:0; text-transform:uppercase; font-size:12px; border-radius:4px; }
#chat .send button:hover { color:#FFF; background:#000; }
/*
#trade { position:absolute; width:180px; left:0; bottom:0; margin:10px 20px; }
#trade p { margin:0; }
#trade .button { background:#DDD; display:block; padding:10px 0; color:#333; text-transform:uppercase; font-weight:bold; box-shadow:0 1px 4px rgba(0,0,0,0.6); }
*/
.actionPane { box-sizing:border-box; margin:10% 0 0; height:80%; color:#FFF; position:absolute; top:0; }
.actionPane h2 { margin:0 0 10px; text-align:center; font-size:13px; font-weight:italic; font-style:italic; font-weight:normal; text-transform:uppercase; letter-spacing:1px; }
.actionPane h2 span { border-bottom:1px solid #999; padding:0 2px; color:#999; }
.actionPane .items { margin:0; padding:0 5%; }
.actionPane .items li { margin:0 0 6px; }
.actionPane .items .button { display:block; color:#FFF; padding:6px 5%; background:#333; border-radius:5px; }
.actionPane .items .button:hover { background-color:#555; }

#build { width:25%; left:0; border-right:1px solid #999; }
#build .items .button { text-align:left; padding:8px 10px; display:block; font-size:13px; line-height:1.3; text-transform:none; }
#build .items .cost { float:right; }
#build .items .cost img { float:left; margin:3px 0 0 4px; }

#resources { width:50%; left:25%; }
#resources .items { margin:5% 0 20px; overflow:hidden; }
#resources .items li { width:20%; float:left; text-align:center; font-size:36px; padding:90px 0 0; background-position:center top; background-repeat:no-repeat; }
#resources .items .wool  { color:#7DC142; background-image:url(images/icon_wool.png); }
#resources .items .grain { color:#FDD106; background-image:url(images/icon_grain.png); }
#resources .items .ore   { color:#61656A; background-image:url(images/icon_ore.png); }
#resources .items .brick { color:#BD5527; background-image:url(images/icon_brick.png); }
#resources .items .wood  { color:#17763C; background-image:url(images/icon_wood.png); }
	
#development { width:25%; right:0; border-left:1px solid #999; }
#development .items { text-align:center; }

#tradePopup .maritime { margin-top:10px; }
#tradePopup .maritime .availability { color:#666; padding:5px 0 0 35px; }
#tradePopup .resources input { width:50px; }
#tradePopup .resources label { margin:0 0 0 10px; padding:0 0 0 16px; background-position:left center; background-repeat:no-repeat; }

#tradePopup .resources .wool  label, #tradeConfirmPopup .resources .wool,  #monopolyPopup .wool  a { background-image:url(images/icon_dot_wool.png); }
#tradePopup .resources .grain label, #tradeConfirmPopup .resources .grain, #monopolyPopup .grain a { background-image:url(images/icon_dot_grain.png); }
#tradePopup .resources .ore   label, #tradeConfirmPopup .resources .ore,   #monopolyPopup .ore   a { background-image:url(images/icon_dot_ore.png); }
#tradePopup .resources .brick label, #tradeConfirmPopup .resources .brick, #monopolyPopup .brick a { background-image:url(images/icon_dot_brick.png); }
#tradePopup .resources .wood  label, #tradeConfirmPopup .resources .wood,  #monopolyPopup .wood  a { background-image:url(images/icon_dot_wood.png); }

#tradeConfirmPopup { width:40%; left:30%; }
#tradeConfirmPopup .resources li { padding:0 0 0 20px; background-position:left 12px; background-repeat:no-repeat; font-size:15px; clear:left; line-height:34px; font-weight:bold; color:#444; }
#tradeConfirmPopup .resources em { font-size:24px; padding:0 10px 0 0; font-style:normal; font-weight:normal; color:#111; float:left; clear:left; }

#stealPopup { width:30%; left:35%; }
#stealPopup .buttonList a { color:#666; }
#stealPopup .buttonList strong { font-size:16px; color:#000; }

#monopolyPopup li { width:20%; float:left; }
#monopolyPopup a { display:block; text-align:center; padding:100px 0 10px; margin:0 0 15px; color:#000; text-decoration:none; font-weight:bold; background-repeat:no-repeat; background-position:center 10px; border-radius:6px; }
#monopolyPopup a:hover { background-color:#EEE; box-shadow:inset 0 0 4px #999; }

#monopolyPopup .wool  a { background-image:url(images/icon_wool.png); }
#monopolyPopup .grain a { background-image:url(images/icon_grain.png); }
#monopolyPopup .ore   a { background-image:url(images/icon_ore.png); }
#monopolyPopup .brick a { background-image:url(images/icon_brick.png); }
#monopolyPopup .wood  a { background-image:url(images/icon_wood.png); }

#eventNotice { position:absolute; top:0; left:4%; width:92%; background:#FF9; padding:10px 0 11px; text-align:center; font-size:15px; border-radius:0 0 5px 5px; box-shadow:0 1px 5px rgba(0,0,0,0.5); box-sizing:border-box; z-index: 10; }
#eventNotice p { margin:0; }

#featureBar { position: absolute; bottom: 0px; height: 20px; width: 100%; background-color: #333; padding: 4px 0px; box-shadow: 0 0 4px 2px rgba(0,0,0,0.5); }	
#featureBar span a { float: right; margin: 0px 20px; color: yellow; font-family: Verdana, sans-serif; text-decoration: none; }

#requestPopup label { display: block; margin-left: 2px; }
#requestPopup label.notFirst { margin-top: 10px; }
#requestPopup p { margin-top: 15px; }
#requestPopup input { width: 250px; }
#requestPopup textarea { width: 500px; height: 60px; font: 13px/1.3 Helvetica,Arial,sans-serif; }
#requestPopup input, #requestPopup textarea { margin: 5px 0px; }

#reportBugPopup label { display: block; margin-left: 2px; }
#reportBugPopup label.notFirst { margin-top: 10px; }
#reportBugPopup textarea { height: 40px; width: 400px; margin: 5px 0px; font: 13px/1.3 Helvetica,Arial,sans-serif; }

